APP_PORT=''

# Cấu hình MySQL (Localhost)
DB_HOST=''
DB_USER=''
DB_PASSWORD=''
DB_NAME=''

# Cấu hình Email (Gửi OTP)
EMAIL_USER=''
EMAIL_PASS=''

# Cấu hình Bảo mật JWT
JWT_ACCESS_SECRET=''
JWT_REFRESH_SECRET=''

# Cấu hình Thời gian hết hạn của Token
JWT_ACCESS_EXPIRE=''
JWT_REFRESH_EXPIRE=''

# Cấu hình Cloudinary
CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_API_SECRET=''

# Cấu hình VNPAY
VNP_TMN_CODE=''
VNP_HASH_SECRET=''
VNP_URL=''
VNP_BACKEND_RETURN_URL=''

# Cấu hình MOMO
MOMO_PARTNER_CODE=''
MOMO_ACCESS_KEY=''
MOMO_SECRET_KEY=''
MOMO_API_URL=''

FRONTEND_URL=''